<div class="shadow-lg">
<div class="col-2 form-desaparece-movil pl-5">
  <nav class="nav flex-column nav-lateral">
    <h4 class="text-muted">Películas</h4>
    <hr>
    <h4 class="text-muted">Categorías</h4>
    <a class="nav-link active" href="#">Terror</a>
    <a class="nav-link" href="#">Ciencia Ficción</a>
    <a class="nav-link" href="#">Comedia</a>
    <a class="nav-link" href="#">Drama</a>
    <a class="nav-link" href="#">Acción</a>
    <a class="nav-link" href="#">Animación</a>
    <a class="nav-link" href="#">Superhéores</a>
    <a class="nav-link" href="#">Cartelera</a>
    <h4 class="text-muted mt-3">Videojuegos</h4>
    <hr>
    <h4 class="text-muted">Categorías</h4>
    <a class="nav-link active" href="#">Mas Jugados</a>
    <a class="nav-link" href="#">Top Twitch</a>
    <a class="nav-link" href="#">Juegos del año</a>
    <a class="nav-link" href="#">Mejores 2019</a>
    <a class="nav-link" href="#">Estrategia</a>
    <a class="nav-link" href="#">Rol</a>
    <a class="nav-link" href="#">Acción</a>
    <a class="nav-link" href="#">Aventuras</a>
    <a class="nav-link" href="#">Conducción</a>
    <a class="nav-link" href="#">E-Sport</a>
  </nav>
</div>
</div>