<main class="container container-peliculas">
  <h2 class="text-center display-4 mt-5">Mapa Web</h2>
  <hr>
  <!--Mapa Web -->

  <!--Row-->
  <div class="row justify-content-center mb-5" *ngIf="load">
    <div class="col-12 mt-2 col-lg-6 col-xl-4">
      <h3 class="tittle_header">Home</h3>
      <div class="jumbotron h-100">
        <hr class="my-4"><br>
        <i class="fa fa-home p-2" aria-hidden="true"></i>
        <a class="lead tittle_map" routerLink="">Home</a><br><br>
      </div>
    </div>
    <div class="col-12 mt-2 col-lg-6 col-xl-4">
      <h3 class="tittle_header">Videogames</h3>
      <div class="jumbotron h-100">
        <hr class="my-4"><br>
        <i class="fa fa-home p-2" aria-hidden="true"></i>
        <a class="lead tittle_map" routerLink="/gamesPremiun">Games</a><br><br>
      </div>
    </div>
    <div class="col-12 mt-2 col-lg-6 col-xl-4">
      <h3 class="tittle_header">Movies</h3>
      <div class="jumbotron h-100">
        <hr class="my-4"><br>
        <i class="fa fa-home p-2" aria-hidden="true"></i>
        <a class="lead tittle_map" routerLink="/moviesPremium">Movies</a><br><br>
      </div>
    </div>
  </div>

  <!--FIN de Row-->

  <!--FIN de Mapa Web-->

</main>