<div class="container-fluid">
    <div class="row">
        <div class="ml-3 col-12 col-md-2">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-12 col-lg-9 main-color" *ngIf="dataGames || dataMovie">
            <div *ngIf="dataGames.length >= 1">
                <h3 class="text-center mt-3">Videogames</h3>
                <hr>
            </div>
            <section class="row ml-sm-auto mr-sm-auto d-flex justify-content-center"
                *ngIf=" dataGames && dataGames.length >= 1">
                <!--games -->
                <article *ngFor="let game of dataGames" class="col-md-6 col-lg-4 col-xl-4 mt-3 mb-2 card-games">
                    <div class="card shadow-lg animated fadeInLeft">
                        <img class="img-fluid" src="http://localhost/HiFind-Api/{{game.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{game.name}}</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"> <small>{{game.out_date}}</small></h6>
                            <p class="card-text">{{game.sinopsis}}
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-end p-4">
                            <!-- Boton Modal-->
                            <a href="#modal-show-game" class="btn btn-primary" (click)="takeInformationGame(game)"
                                data-toggle="modal">Show more
                            </a>
                            <a href="#modal-marks-games" class="btn btn-secondary ml-3" (click)="takeInformationGame(game)"
                                data-toggle="modal"> Rate game
                            </a>
                        </div>
                    </div>
                </article>
            </section>
            <div *ngIf="dataMovies.length >= 1">
                <h3 class="text-center mt-3">Movies</h3>
                <hr>
            </div>
            <section class="row ml-sm-auto mr-sm-auto d-flex justify-content-center" *ngIf="dataMovies.length >= 1">
                <!--Movies -->
                <article *ngFor="let movie of dataMovies" class="col-md-6 col-lg-4 col-xl-4 mt-3 mb-2 card-games">
                    <div class="card shadow-lg animated fadeInLeft">
                        <img class="img-fluid" src="http://localhost/HiFind-Api/{{movie.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{movie.title}}</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"> <small>{{movie.out_date}}</small></h6>
                            <p class="card-text">{{movie.sinopsis}}
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-end p-4">
                            <!-- Boton Modal-->
                            <a href="#modal-show-movie" class="btn btn-primary" (click)="takeInformationMovie(movie)"
                                data-toggle="modal">Show more
                            </a>
                            <a href="#modal-marks-movies" class="btn btn-secondary ml-3" (click)="takeInformationMovie(movie)"
                                data-toggle="modal"> Rate movie
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </div>

    </div>
</div>
<div class="modal fade game-modal-lg" id="modal-show-game">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="model-title">{{ name }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <hr class="form-aparece-movil ">
                        <span class="font-weight-bold">Name:</span> {{ name }} <br>
                        <span class="font-weight-bold">Out date:</span> {{ outDate }} <br>
                        <span class="font-weight-bold">Public directed:</span> +{{ publicDirected }} <br>
                        <span class="font-weight-bold">Categories:</span> {{ categories }} <br>
                        <span class="font-weight-bold">Duration:</span> {{ duration }} <br>
                        <span class="font-weight-bold">Sinopsis:</span> {{ sinopsis }} <br>
                        <span class="font-weight-bold">Mark:</span> {{ marks }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade game-modal-lg" id="modal-show-movie">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="model-title">{{ title }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-6">
                            <hr class="form-aparece-movil ">
                            <span class="font-weight-bold">Title:</span> {{ title }} <br>
                            <span class="font-weight-bold">Out date:</span> {{ outDate }} <br>
                            <span class="font-weight-bold">Public directed:</span> +{{ publicDirected }} <br>
                            <span class="font-weight-bold">Directors:</span> {{ directors }} <br>
                            <span class="font-weight-bold">Actors:</span> {{ actors }} <br>
                            <span class="font-weight-bold">Categories:</span> {{ categories }} <br>
                            <span class="font-weight-bold">Duration:</span> {{ duration }} <br>
                            <span class="font-weight-bold">Sinopsis:</span> {{ sinopsis }} <br>
                            <span class="font-weight-bold">Mark:</span> {{ marks }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade game-modal-lg" id="modal-marks-games">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="model-title">{{ name }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-6">
                            <hr class="show-movil">
                            <h4 class="text-center">Please rate this game</h4>
                            <form [formGroup]="formMark" (ngSubmit)="onSubmitGame(formMark)" enctype="multipart/form-data">
                                <div class="form-group mt-3">
                                    <input type="number" name="" id="mark" class="col-12" placeholder="Rate this game"
                                        formControlName="mark" name="mark">
                                </div>
                                <div class="d-flex justify-content-center align-items-end p-4">
                                    <input type="submit" value="Rate game" class="btn btn-primary ml-3"
                                        [disabled]="!formMark.valid">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade game-modal-lg" id="modal-marks-movies">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="model-title">{{ title }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-6">
                            <hr class="show-movil">
                            <h4 class="text-center">Please rate this Movie</h4>
                            <form [formGroup]="formMark" (ngSubmit)="onSubmitGame(formMark)" enctype="multipart/form-data">
                                <div class="form-group mt-3">
                                    <input type="number" name="" id="mark" class="col-12" placeholder="Rate this movie"
                                        formControlName="mark" name="mark">
                                </div>
                                <div class="d-flex justify-content-center align-items-end p-4">
                                    <input type="submit" value="Rate game" class="btn btn-primary ml-3"
                                        [disabled]="!formMark.valid">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>