<div class="publicidad container my-5" *ngIf="dataAplication">
    <div class="row">
      <div class="col-12">
        <div class="shadow-lg contenedor-animacion">
          <img class="logo-ani" src="../../../assets/img/popcorn.png" alt="">
          <img class="fondo-ani" src="../../../assets/img/fondo-publi.png" alt="">
          <img class="logo-zombie" src="../../../assets/img/manoZombie.png" alt="">
          <img class="foto-in" src="../../../assets/img/popcorn.png" alt="">
          <h4 class="tit-ani">{{dataAplication.Company.Name}}</h4>
          <h4 class="neon">{{dataAplication.Company.Name}}</h4>
        </div>
      </div>
    </div>
  </div>