<app-menu-admin class="shadow-lg"></app-menu-admin>
<div class="container-fluid">
    <div class="row">
        <div class="col-10 ml-4">
            <h2 class="mt-4">{{ title }}</h2>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
                <div class="form-group">
                    <input type="text" class="form-control col-6" placeholder="Name" formControlName="categoryName" name="categoryName"
                    title="Category name"> <br>
                </div>

                <div class="form-group">
                    <label for="categoryType">Select Category Type:</label>
                    <select class="form-control col-6" formControlName="categoryType" name="categoryType" [(ngModel)]='selectedValue'
                    title="Category type">
                        <option selected value="is_special_game">Special Game</option>
                        <option value="is_special_movie">Special Movie</option>
                        <option value="is_game">Game</option>
                        <option value="is_movie">Movie</option>
                      </select>
                </div>
                <div class="text-center col-6">
                    <button type="submit" class="btn btn-primary col-12 col-md-3" [disabled]="!formGroup.valid">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>