<nav class="nav flex-column nav-lateral mt-3" *ngIf="dataAplication">
  <div *ngIf="movies === true || games === false ">
    <h4 class="text-muted">
      {{dataAplication.Generic.movies}}
    </h4>
    <hr>
    <h4 class="text-muted">
      {{dataAplication.Generic.categories}}
    </h4>
    <div *ngFor="let category of categoryMovies">
      <a routerLink="/{{ url }}/{{ category }}" class="nav-link">{{category}}</a>
    </div>
  </div>
  <div *ngIf="movies === false || games === true">
    <h4 class="text-muted mt-3">
      {{dataAplication.Generic.videogames}}
    </h4> 
    <hr>
    <h4 class="text-muted">
      {{dataAplication.Generic.categories}}
    </h4>
    <div *ngFor="let category of categoriesGames">
      <a routerLink="/{{ url }}/{{ category }}" class="nav-link">{{category}}</a>
    </div>
  </div>
</nav>