<nav class="nav flex-column nav-lateral mt-3" *ngIf="dataAplication">
  <div *ngIf="movies === true || games === false ">
    <h4 class="text-muted">
      {{dataAplication.Generic.movies}}
    </h4>
    <hr>
    <h4 class="text-muted">
      {{dataAplication.Generic.categories}}
    </h4>
    <div *ngFor="let category of dataAplication?.Categories.Movies">
      <a routerLink="/homePremium/{{ category }}" class="nav-link">{{category}}</a>
    </div>
  </div>
  <h4 class="text-muted mt-3">
    {{dataAplication.Generic.videogames}}
  </h4> 
  <hr>
  <div *ngIf="movies === false || games === true">
    <h4 class="text-muted">
      {{dataAplication.Generic.categories}}
    </h4>
    <div *ngFor="let category of dataAplication?.Categories.VideoGames">
      <a routerLink="/homePremium/{{ category }}" class="nav-link">{{category}}</a>
    </div>
  </div>
</nav>