
/************** INICIO ESTILOS CONTENEDOR ANIMACION PUBLICIDAD *************/

.contenedor-animacion {
	position: relative;
	overflow: hidden;
}

/*Estilos logo animacion*/
.logo-ani {
	position: absolute;
	width: 10%;
	animation: animacion-logo 8s 1 both;
	z-index: 1;
}

.foto-in {
	position: relative;
	visibility: hidden;
	width: 10%;
}

/*Estilos titulo animación*/
.tit-ani {
	position: absolute;
	left: 45%;
	bottom: -15%;
	font-family: 'Lobster', cursive;
	font-size: 2vh;
	animation: animacion-titulo 0.4s 1 6.86s both;

}

/*Estilos fondo animación*/
.fondo-ani {
	position: absolute;
	animation: animacion-fondo-publi 2s 1 8.5s both;
	bottom: 100%;
	width: 100%;
}

.logo-zombie {
	position: absolute;
	width: 10%;
	left: 45%;
	bottom: 0;
	animation: animacion-logo-zombie 1s 8s both;
	opacity: 0;
	transform: scale(0, 0);
}

/*Estilos titulo animacion con estilo neon*/
.neon {
	letter-spacing: -2px;
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
	-webkit-text-fill-color: #F4ECFF;
	-webkit-text-stroke-color: #C546F7;
	-webkit-text-stroke-width: 0.2px;
	position: absolute;
	bottom: -35%;
	font-size: 8vw;
	animation: animacion-titulo-final 10s 10s infinite;
	left: 0;
	opacity: 0;
	font-family: 'Lobster', cursive;
}

/************** FIN ESTILOS CONTENEDOR ANIMACION PUBLICIDAD *************/


/************** INICIO ANIMACIÓN PUBLICIDAD *************/
/*Animación del fondo de la publicidad*/
@keyframes animacion-fondo-publi {
	100% {
		bottom: -400%;
	}
}

/*Animación primer titulo*/
@keyframes animacion-titulo {
	100% {
		transform: scale(1, 0);
		bottom: -30%;
	}
}

/*Animacion Logo primero*/
@keyframes animacion-logo {
	0% {
		left: 0;
		bottom: 0;
	}

	10% {
		left: 5%;
		bottom: 30%;
	}

	20% {
		left: 10%;
		bottom: 0;
	}

	30% {
		left: 15%;
		bottom: 30%;
	}

	40% {
		left: 20%;
		bottom: 0;
	}

	50% {
		left: 25%;
		bottom: 30%;
	}

	60% {
		left: 30%;
		bottom: 0%;
	}

	70% {
		left: 35%;
		bottom: 30%;
	}

	80% {
		left: 37%;
		bottom: 0%;
	}

	85% {
		left: 45%;
		bottom: 100%;
	}

	86% {
		left: 45%;
		bottom: 0;
		transform: rotate(0deg);
	}


	92% {
		transform: rotate(10deg);
		left: 45%;
		bottom: 0;
		transform: rotate(0deg);
	}

	94% {
		transform: rotate(-10deg);
	}

	95% {
		transform: rotate(10deg);
	}

	96% {
		transform: rotate(-10deg);
	}

	97% {
		transform: rotate(10deg);
	}

	98% {
		transform: rotate(-10deg);
	}

	99% {
		transform: rotate(10deg);
		opacity: 1;
	}

	100% {
		transform: rotate(-10deg);
		opacity: 0;
		left: 45%;
		bottom: 0;
	}

}

/*Animación logo segundo con mano zombie*/
@keyframes animacion-logo-zombie {
	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}

/*Animación titulo final*/
@keyframes animacion-titulo-final {
	1% {
		opacity: 1;
	}

	2% {
		opacity: 0;
	}

	3% {
		opacity: 0;
	}

	4% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	6% {
		opacity: 1;
	}

	7% {
		opacity: 1;
	}

	8% {
		opacity: 0;
	}

	10% {
		left: 0;
		opacity: 1;
	}

	25% {
		opacity: 1;
		left: -60%
	}

	26% {
		opacity: 0;
	}

	39% {
		opacity: 0;
	}

	40% {
		left: 100%;
		opacity: 1;
	}

	100% {
		opacity: 1;
	}

}

/************** Fin ANIMACIÓN PUBLICIDAD *************/