<div class="container-fluid" *ngIf="load">
    <div class="row">
        <div class="col-12 main-color" *ngIf="gameResult && gameResult.length >= 1">
            <h3 class="text-center mt-2">Videogames: {{ searchTitle }}</h3>
            <section class="row ml-sm-auto mr-sm-auto d-flex justify-content-center">
                <!--games -->
                <article *ngFor="let game of gameResult" class="col-md-6 col-lg-4 col-xl-4 mt-3 mb-2 card-games">
                    <div class="card shadow-lg animated fadeInLeft">
                        <img class="img-fluid" src="http://localhost/HiFind-Api/{{game.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{game.name}}</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"> <small>{{game.out_date}}</small></h6>
                            <p class="card-text">{{game.sinopsis}}
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-end p-4">
                            <!-- Boton Modal-->
                            <a href="#modal-show-game" class="btn btn-primary" (click)="takeInformationGame(game)"
                                data-toggle="modal">Show more
                            </a>
                            <a href="#modal-marks-games" class="btn btn-secondary ml-3"
                                (click)="takeInformationGame(game)" data-toggle="modal"> Rate game
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-12 col-md-12 main-color" *ngIf="movieResult && movieResult.length >= 1">
            <h3 class="text-center mt-2">Movies: {{ searchTitle }}</h3>
            <section class="row ml-sm-auto mr-sm-auto d-flex justify-content-center">
                <!--Movies -->
                <article *ngFor="let movie of movieResult" class="col-md-6 col-lg-4 col-xl-4 mt-5 px-auto">
                    <div class="card shadow-lg animated fadeInLeft">
                        <img class="img-fluid" src="http://localhost/HiFind-Api/{{movie.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{movie.title}}</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"> <small>{{movie.out_date}}</small></h6>
                            <p class="card-text">{{movie.sinopsis}}
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-end p-4">
                            <a href="#modal-show-movie" class="btn btn-primary" (click)="takeInformationMovie(movie)"
                                data-toggle="modal">Show more
                            </a>
                            <a href="#modal-marks-movies" class="btn btn-secondary ml-3"
                                (click)="takeInformationMovie(movie)" data-toggle="modal">
                                Rate movie
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-12 col-md-12 main-color" *ngIf="actorsResults && actorsResults.length >= 1">
            <h3 class="text-center mt-2">Actor: {{ searchTitle }}</h3>
            <section class="row ml-sm-auto mr-sm-auto d-flex justify-content-center">
                <!--Movies -->
                <article *ngFor="let actor of actorsResults" class="col-md-6 col-lg-4 col-xl-4 mt-5 px-auto">
                    <div class="card shadow-lg animated fadeInLeft">
                        <img class="img-fluid" src="http://localhost/HiFind-Api/{{actor.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{actor.name}} {{actor.surname}}</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"> <small>{{actor.birthday}}</small></h6>
                            <p class="card-text">{{actor.biography}}
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-end p-4">
                            <a href="#modal-show-actorDirector" class="btn btn-primary"
                                (click)="takeInfomationActorOrDirector(actor)" data-toggle="modal">Show more
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-12 col-md-12 main-color" *ngIf="directorsResults && directorsResults.length >= 1">
            <h3 class="text-center mt-2">Actor: {{ searchTitle }}</h3>
            <section class="row ml-sm-auto mr-sm-auto d-flex justify-content-center">
                <!--Movies -->
                <article *ngFor="let director of directorsResults" class="col-md-6 col-lg-4 col-xl-4 mt-5 px-auto">
                    <div class="card shadow-lg animated fadeInLeft">
                        <img class="img-fluid" src="http://localhost/HiFind-Api/{{director.image}}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{director.name}} {{director.surname}}</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"> <small>{{director.birthday}}</small></h6>
                            <p class="card-text">{{director.biography}}
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-end p-4">
                            <a href="#modal-show-actorDirector" class="btn btn-primary"
                                (click)="takeInfomationActorOrDirector(director)" data-toggle="modal">Show more
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="mr-auto ml-auto" *ngIf="directorsResults == undefined && actorsResults == undefined && movieResult.length == 0 && gameResult.length == 0">
            <h4 class="text-center"> Not found any coincidence for {{searchTitle}}</h4>
            <img src="../../../../assets/img/not-found.gif" class="img-fluid" alt="not-found">
        </div>
    </div>
</div>
<div class="modal fade game-modal-lg" id="modal-show-game">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="model-title">{{ name }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <hr class="form-aparece-movil ">
                        <span class="font-weight-bold">Name:</span> {{ name }} <br>
                        <span class="font-weight-bold">Out date:</span> {{ outDate }} <br>
                        <span class="font-weight-bold">Public directed:</span> +{{ publicDirected }} <br>
                        <span class="font-weight-bold">Categories:</span> {{ categories }} <br>
                        <span class="font-weight-bold">Duration:</span> {{ duration }} <br>
                        <span class="font-weight-bold">Sinopsis:</span> {{ sinopsis }}
                        <span class="font-weight-bold">Mark:</span> {{ marks }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade game-modal-lg" id="modal-show-movie">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="model-title">{{ title }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <hr class="form-aparece-movil ">
                        <span class="font-weight-bold">Title:</span> {{ title }} <br>
                        <span class="font-weight-bold">Out date:</span> {{ outDate }} <br>
                        <span class="font-weight-bold">Public directed:</span> +{{ publicDirected }} <br>
                        <span class="font-weight-bold">Directors:</span> {{ directors }} <br>
                        <span class="font-weight-bold">Actors:</span> {{ actors }} <br>
                        <span class="font-weight-bold">Categories:</span> {{ categories }} <br>
                        <span class="font-weight-bold">Duration:</span> {{ duration }} <br>
                        <span class="font-weight-bold">Sinopsis:</span> {{ sinopsis }} <br>
                        <span class="font-weight-bold">Mark:</span> {{ marks }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade game-modal-lg" id="modal-show-actorDirector">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="model-title">{{ name }} {{surname}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <hr class="form-aparece-movil ">
                        <span class="font-weight-bold">Name:</span> {{ name }} {{surname}}<br>
                        <span class="font-weight-bold">Movies:</span> {{ movies }} <br>
                        <span class="font-weight-bold">Birthday:</span> {{ birthday }} <br>
                        <span class="font-weight-bold">Biography:</span> {{ biography }} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade game-modal-lg" id="modal-marks-games">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="model-title">{{ name }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <hr class="show-movil">
                        <h4 class="text-center">Please rate this game</h4>
                        <form [formGroup]="formMark" (ngSubmit)="onSubmitGame(formMark)" enctype="multipart/form-data">
                            <div class="form-group mt-3">
                                <input type="number" name="" id="mark" class="col-12" placeholder="Rate this game"
                                    formControlName="mark" name="mark">
                            </div>
                            <div class="d-flex justify-content-center align-items-end p-4">
                                <input type="submit" value="Rate game" class="btn btn-primary ml-3"
                                    [disabled]="!formMark.valid">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade game-modal-lg" id="modal-marks-movies">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="model-title">{{ title }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <img src="http://localhost/HiFind-Api/{{image}}" alt="{{name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <hr class="show-movil">
                        <h4 class="text-center">Please rate this Movie</h4>
                        <form [formGroup]="formMark" (ngSubmit)="onSubmitMovie(formMark)" enctype="multipart/form-data">
                            <div class="form-group mt-3">
                                <input type="number" name="" id="mark" class="col-12" placeholder="Rate this movie"
                                    formControlName="mark" name="mark">
                            </div>
                            <div class="d-flex justify-content-center align-items-end p-4">
                                <input type="submit" value="Rate game" class="btn btn-primary ml-3"
                                    [disabled]="!formMark.valid">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>