<div *ngIf="user && dataAplication">
  <nav class="navbar navbar-expand-lg navbar-menu bg-menu col-12 shadow d-flex sticky-top" *ngIf="user === 'not logged'">
    <a class="navbar-brand" [routerLink]="[ '/home']"><img src="../../../assets/img/manoZombie.png" id="icono"></a>
    <div class="form-inline form-aparece-movil col-5">
      <input class="form-control  rounded-pill" type="search" placeholder="Seach" aria-label="Search"
        (keyup.enter)=searchMovie() [(ngModel)]="movieName">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-sm-1">
        <li class="nav-item mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/home']">{{dataAplication.Navbar.home}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/movies']">{{dataAplication.Navbar.movies}}</a>
        </li>
      </ul>
      <div class="form-inline mr-auto form-desaparece-movil">
        <input class="form-control mr-2 rounded-pill" id="busqueda" type="search" placeholder="Buscar" aria-label="Search"
          (keyup.enter)="searchMovie()" [(ngModel)]="movieName">
        <button (click)="searchMovie()" class="bg-busqueda btn btn-outline-success my-2 my-sm-0 rounded-pill"
          type="button"><i class="fa fa-search"></i></button>
      </div>
      <ul class="navbar-nav ml-auto color-logeo">
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-user"></i> {{dataAplication.Navbar.login}}</a> </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-unlock-alt"></i> {{dataAplication.Navbar.register}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--NAVBAR USER-->
  <nav class="navbar navbar-expand-lg navbar-menu bg-menu col-12 shadow d-flex sticky-top" *ngIf="dataAplication && user.userData?.role === 'ROLE_USER'">
    <a class="navbar-brand" [routerLink]="[ '/home']"><img src="../../../assets/img/manoZombie.png" id="icono"></a>
    <div class="form-inline form-aparece-movil col-5">
      <input class="form-control  rounded-pill" type="search" placeholder="Seach" aria-label="Search"
        (keyup.enter)=searchMovie() [(ngModel)]="movieName">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-sm-1">
        <li class="nav-item mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/homePremium']">{{dataAplication.Navbar.home}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/moviesPremium']">{{dataAplication.Navbar.movies}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/gamesPremium']">{{dataAplication.Navbar.games}}</a>
        </li>
      </ul>
      <div class="form-inline mr-auto form-desaparece-movil">
        <input class="form-control mr-2 rounded-pill" id="busqueda" type="search" placeholder="Buscar" aria-label="Search"
          (keyup.enter)="searchMovie()" [(ngModel)]="movieName">
        <button (click)="searchMovie()" class="bg-busqueda btn btn-outline-success my-2 my-sm-0 rounded-pill"
          type="button"><i class="fa fa-search"></i></button>
      </div>
      <ul class="navbar-nav ml-auto color-logeo">
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/userData']"><i class="fa fa-user"></i> {{user.userData.username}}</a> </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/login']" (click)="logOut()"><i class="fa fa-user-times"></i> {{dataAplication.Generic.exit}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--NAVBAR ADMIN-->
  <nav class="navbar navbar-expand-lg navbar-menu bg-menu col-12 shadow d-flex sticky-top" *ngIf="dataAplication && user.userData?.role === 'ROLE_ADMIN'">
    <a class="navbar-brand" [routerLink]="[ '/home']"><img src="../../../assets/img/manoZombie.png" id="icono"></a>
    <div class="form-inline form-aparece-movil col-5">
      <input class="form-control  rounded-pill" type="search" placeholder="Seach" aria-label="Search"
        (keyup.enter)=searchMovie() [(ngModel)]="movieName">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-sm-1">
        <li class="nav-item mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/adminShow/movies']">{{dataAplication.Generic.movies}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/adminShow/games']">{{dataAplication.Generic.videogames}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/adminShow/categories']">{{dataAplication.Generic.categories}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/adminShow/directors']">{{dataAplication.Generic.director}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/adminShow/actors']">{{dataAplication.Generic.actors}}</a>
        </li>
        <li class="nav-item  mr-1" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/adminAddCategory']">Add</a>
        </li>
      </ul>
      <div class="form-inline mr-auto form-desaparece-movil">
        <input class="form-control mr-2 rounded-pill" id="busqueda" type="search" placeholder="Buscar" aria-label="Search"
          (keyup.enter)="searchMovie()" [(ngModel)]="movieName">
        <button (click)="searchMovie()" class="bg-busqueda btn btn-outline-success my-2 my-sm-0 rounded-pill"
          type="button"><i class="fa fa-search"></i></button>
      </div>
      <ul class="navbar-nav ml-auto color-logeo">
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/userData']"><i class="fa fa-user"></i> {{user.userData.username}}</a> </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/login']" (click)="logOut()"><i class="fa fa-user-times"></i> {{dataAplication.Generic.exit}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>