<div class="container" *ngIf="dataAplication">
  <div class="row ">
    <div class="col-12 col-md-6 mr-auto ml-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">
            {{dataAplication.Register.title}}
          </h1>
          <form #formRegister >
            <!-- Email -->
            <div class="form-group">
              <label for="email">{{dataAplication.Generic.email}}:</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="{{dataAplication.Generic.email}}" required [(ngModel)]="email">
            </div>
            <!-- Username -->
            <div class="form-group">
              <label for="email">{{dataAplication.Generic.username}}:</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="{{dataAplication.Generic.username}}" required [(ngModel)]="username">
            </div>
            <!-- Password -->
            <div class="form-group">
              <label for="email">{{dataAplication.Generic.password}}:</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="{{dataAplication.Generic.password}}" required [(ngModel)]="password">
            </div>
            <input type="submit" value="Enter" id="enter" name="enter" class="btn btn-block btn-lg btn-primary"> <br>
            {{dataAplication.Register.message}} <a [routerLink]="[ '/login']">{{dataAplication.Register.title}}</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
