<footer class="container-fluid bg-footer mt-3">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <h6 class="footer__title">Authors</h6>
            <hr class="footer__hr">
            <p class="mt-3 footer__link" *ngFor="let creators of dataAplication?.Creators">
              {{creators}} <br>
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h6 class="footer__title">Contact</h6>
            <hr class="footer__hr">
            <p class="mt-3" *ngFor="let social of dataAplication?.SocialNetwork">
              <a class="footer__link" ><i class="{{social.icon}}"></i> {{social.name}}</a> <br>
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h6 class="footer__title">Other data</h6>
            <hr class="footer__hr">
            <p class="mt-3">
              <i class="fafa-handshake"></i> <a class="footer__link">
                License</a> <br>
              <i class="fa fa-map"></i><a class="footer__link" [routerLink]="[ '/web-map']"> web-map</a><br>
              <i class="fa fa-location-arrow"></i> Direction: Ctra. Colmenar Viejo, Km. 12,800
              Madrid
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mt-3 mb-4">
            {{dataAplication?.Company.yearCreation}} - {{currentYear}} © Copyright: <span class="font-weight-bold">{{dataAplication?.Company.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
