/*Estilos aplicados a las pestañas secundarias del menu de galeria*/
/* ul>li.nav-item.active{
	background: linear-gradient(135deg, rgba(101, 52, 247, 1) 0%, rgba(218, 24, 240, 1) 100%);
	color: #ffffff;
	font-weight: bold;
}

li.nav-item>a{
	color:#000000;
}

ul.nav>li.nav-item>a:hover{
	color:#4d1ba0;
	font-weight: bold;
} */

.adminMenu__item {
	color:#000000;
}

.adminMenu__item:hover {
	color:#4d1ba0;
	font-weight: bold;
}
li.active {
	background: linear-gradient(135deg, rgba(101, 52, 247, 1) 0%, rgba(218, 24, 240, 1) 100%);
	font-weight: bold;
}
li.active a {
	color: #ffffff;
}