<ul class="nav nav-tabs">
  <li class="nav-item adminMenu__item" routerLinkActive="active">
    <a class="nav-link adminMenu__link" [routerLink]="[ '/adminAddCategory']">{{ dataAplication?.Generic.categories }} </a>
  </li>
  <li class="nav-item adminMenu__item" routerLinkActive="active">
    <a class="nav-link adminMenu__link" [routerLink]="[ '/adminAddGame']">{{ dataAplication?.Generic.videogames }} </a>
  </li>
  <li class="nav-item adminMenu__item" routerLinkActive="active">
    <a class="nav-link adminMenu__link"[routerLink]="[ '/adminAddMovie']">{{ dataAplication?.Generic.movies }} </a>
  </li>
  <li class="nav-item adminMenu__item" routerLinkActive="active">
    <a class="nav-link adminMenu__link" [routerLink]="[ '/adminAddDirector']">{{ dataAplication?.Generic.director }} </a>
  </li>
  <li class="nav-item adminMenu__item" routerLinkActive="active">
    <a class="nav-link adminMenu__link" [routerLink]="[ '/adminAddActor']">{{ dataAplication?.Generic.actors }} </a>
  </li>
</ul>
